{% extends 'base.html' %}

{% block content %}
<h1 class="title">Замены</h1>
<h1 class="title">in progress</h1>
<form action="" method="post" id="make_replacement_form" class="form-inline text-center">{% csrf_token %}
    <div class="form-inline text-left">

        <label class="mr-sm-2">Ввведите даты </label>
        <input type="text" class="dates form-control mb-2 mr-sm-2 mb-sm-0" id="date" name="date" placeholder="Дата"
               required>
        <div class="form-group mb-2 mr-sm-2 mb-sm-0">
            <label for="replacement_person" class="mr-sm-2">Сотрудник</label>
            <select class="form-control selecter" name="name" id="replacement_person">
                {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div>
        <button type="submit" id="make_replacement" class="btn btn-primary btn-orange">Добавить замену</button>
    </div>
</form>
{% if replacements %}
<div class="table-responsive">
    <table id="ReplacementTable" style="height: 400px;"
           class="table dataTable table-responsive table-striped table-bordered table-sm" cellspacing="0"
           width="50%">
        <thead>
        <tr>
            <th class="table-warning">Дата</th>
            <th class="table-warning">Кому нужна</th>
            <th class="table-warning">День недели</th>
            <th class="table-warning">Начало смены</th>
            <th class="table-warning">Конец смены</th>
            <th class="table-warning">Берет</th>
            <th class="table-warning">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for replacement in replacements %}
        <form action="" method="post" class="form-inline text-center">{% csrf_token %}
            {{ form }}
            <tr>
                <td class="table-primary">{{ replacement.date }}</td>
                <td class="table-primary">{{ replacement.name }}</td>
                <td class="table-primary">{{ replacement.dayOfTheWeek }}</td>
                <td class="table-primary">{{ replacement.start_time }}</td>
                <td class="table-primary">{{ replacement.end_time }}</td>
                <td class="table-primary" width="150">
                    {% if replacement.taker == '' %}
                    <select class="form-control selecter" name="name" id="taker_{{ replacement.id }}">
                        <option value=""></option>
                        {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    {{ replacement.taker }}
                    {% endif %}
                <td class="table-primary" width="150">
                    <!--                назначить-->
                    <span class="replacer-put">
                        <button type="button" class="btn btn-success" onclick="PutReplacer({{ replacement.id }})">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                        <!--                снять замену-->
                    <span class="replacer-pick">
                        <button type="button" onclick="PickReplacer({{ replacement.id }})" class="btn btn-warning">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </span>
                        <!--                удалить замену-->
                    <span class="table-remove">
                        <button type="button" onclick="DeleteReplacement({{ replacement.id }})"
                                class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </span>
                </td>

            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h1 class="title">Замен нет</h1>
{% endif %}
{% endblock %}