{% extends 'base.html' %}

{% block content %}
<div class="form-group col-md-6">
    <form action="" method="post" class="form-inline text-center">{% csrf_token %}
        <div class="form-inline text-left mb-2 mr-sm-2 mb-sm-0">
            <label class="mr-sm-2">Ввведите даты </label>
            <input type="text" class="dates form-control" id="date_schedule" name="date" placeholder="Дата" required>
        </div>

        <div class="form-inline text-left">
            <button type="submit" class="btn btn-primary btn-orange">расписание</button>
        </div>
    </form>
</div>

<div class="col-sm-10 table-responsive" id="schedule_wrapper">
    <table class="schedule table-responsive my-auto table-bordered display" id="schedule">
        <thead>
            <tr>
                <th class="table-warning">date</th>
                {% for date in dates %}
                <th colspan={{ date.colspan }} class="table-warning">{{ date.str_date }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th class="table-warning">день недели</th>
                {% for date in dates %}
                <th colspan={{ date.colspan }} class="table-warning">{{ date.weekday }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for time in timerows %}
            <tr>
                <td class="table-secondary">{{ time.time }}</td>
                {% for shift in time.shifts %}
                <td rowspan={{ shift.rowspan }} class={{ shift.class_name }}>{{ shift.data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}