{% extends 'base.html' %}

{% block content %}
<h1 class="title">Замены</h1>
<h1 class="title">in progress</h1>
<form action="" method="post" id="make_replacement_form" class="form-inline text-center">{% csrf_token %}
    <div class="form-inline text-left">

        <label class="mr-sm-2">Ввведите даты </label>
        <input type="text" class="text form-control mb-2 mr-sm-2 mb-sm-0" id="name" name="name" placeholder="Имя" required>
        <input type="tel" class="tel form-control mb-2 mr-sm-2 mb-sm-0" id="tel" name="tel" placeholder="phone number">
        <input type="email" class="email form-control mb-2 mr-sm-2 mb-sm-0" id="email" name="email" placeholder="e-mail">
    </div>

    <div>
        <button type="submit" id="make_replacement" class="btn btn-primary btn-orange">Добавить сотрудника</button>
    </div>
</form>
<div class="table-responsive">
    <table id="dtVerticalScrollExample" class="table table-responsive dataTable table-striped table-bordered table-sm"
           style="height: 500px;">
        <thead>
        <tr>
            <th class="table-warning">имя</th>
            <th class="table-warning">номер телефона</th>
            <th class="table-warning">email
            <th class="table-warning">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for employer in employers %}
        <tr>
            <td class="table-primary">{{ employer.name }}</td>
            <td class="table-primary">{{ employer.phone_number }}</td>
            <td class="table-primary">{{ employer.email }}</td>
            <td class="table-primary" width="150">
                <!--                редактировать-->
                <button type="button" class="btn btn-warning">
                    <i class="far fa-edit" aria-hidden="true"></i>
                </button>
                <!--                удалить сотрудника-->
                <button type="button" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}