{% extends 'base.html' %}

{% block content %}
<h1 class="title">Замены</h1>
<h1 class="title">in progress</h1>
<form action="" method="post" id="make_replacement_form" class="form-inline text-center">{% csrf_token %}
    <div class="form-inline text-left">
        <div class="form-group mb-2 mr-sm-2 mb-sm-0">
            <label for="replacement_person" class="mr-sm-2">Сотрудник</label>
            <select class="form-control selecter" name="name" id="replacement_person">
                {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-2 mr-sm-2 mb-sm-0">
            <label for="weekday" class="mr-sm-2">День недели</label>
            <select class="form-control selecter" name="weekday" id="weekday">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>

        <div class="form-group mb-2 mr-sm-2 mb-sm-0" style="width: 150px;">
            <div class="input-group date" id="add_staff_start_time" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#add_staff_start_time"/>
                <div class="input-group-append" data-target="#add_staff_start_time" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group mb-2 mr-sm-2 mb-sm-0" style="width: 150px;">
            <div class="input-group date" id="add_staff_end_time" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#add_staff_end_time"/>
                <div class="input-group-append" data-target="#add_staff_end_time" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <button type="submit" id="make_replacement" class="btn btn-primary btn-orange">Добавить сотрудника</button>
    </div>
</form>
<div class="table-responsive">
    <table id="dtVerticalScrollExample" style="height: 500px;"
           class="table table-responsive dataTable table-striped table-bordered" cellspacing="0"
           width="50%">
        <thead>
        <tr>
            <th class="table-warning">День недели</th>
            <th class="table-warning">Сотрудник</th>
            <th class="table-warning">Начало смены</th>
            <th class="table-warning">Конец смены</th>
            <th class="table-warning">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for stuff in staffing %}
        <tr>
            <td class="table-primary">{{ stuff.dayOfTheWeek }}</td>
            <td class="table-primary">{{ stuff.name }}</td>
            <td class="table-primary">{{ stuff.start_time }}</td>
            <td class="table-primary">{{ stuff.end_time }}</td>
            <td class="table-primary" width="150">
                <!--                редактировать-->
                <button type="button" class="btn btn-warning" name="edit_staff">
                    <i class="far fa-edit" aria-hidden="true"></i>
                </button>
                <!--                удалить сотрудника-->
                <button type="button" class="btn btn-danger" name="delete_staff">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}