{% extends 'base.html' %}

{% block content %}
<h1 class="title">ШТАТНОЕ РАСПИСАНИЕ</h1>
</div>
    <div class="col-sm-10">
    <table class="schedule table-responsive my-auto table-bordered">
        <thead>
        <tr>
            <th class="table-warning">день недели</th>
            {% for weekday in weekdays %}
            <th colspan={{ weekday.colspan }} class="table-warning">{{ weekday.data }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for time in timerows %}
            <tr>
            <td class="table-secondary">{{ time.time }}</td>
            {% for shift in time.shifts %}
            <td rowspan={{ shift.rowspan }} class={{ shift.class_name }}>{{ shift.data }}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}