{% extends 'base.html' %}

{% block content %}
<h1 class="title">Сотрудники</h1>

<div class="col-sm-3 table-responsive">
    <table class="schedule table-responsive my-auto table-bordered">
        <thead>
        <tr>
            <th class="table-warning">name</th>
            <th class="table-warning">phone_number</th>
            <th class="table-warning">email
        </tr>
        </thead>
        <tbody>

            {% for employer in employers %}
        <tr>
            <td class="table-primary">{{ employer.name }}</td>
            <td class="table-primary">{{ employer.phone_number }}</td>
            <td class="table-primary">{{ employer.email }}</td>
        </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}