html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background: url('img/background.jpg');
}

.top-container{
    padding-top: 10%;
}

.general-container{
    background: url('img/background.jpg');
    height: 100%;
}

.general-container form{
    margin-top: 30px;
}

.general-container form label{
    font-weight: 100;
    color: white;
}

.btn-orange{
    background-color: #e8643e;
    border: none;
}

.btn-orange:hover{
    background-color: #dc5129;
    border: none;
}

.title{
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    text-decoration: underline;
    font-weight: 700;
    line-height: 40px;
}

table.table-bordered{
    border:3px solid black;
    margin-top:20px;
    text-align: center;
    vertical-align: middle;
  }

table.table-bordered > thead > tr > th{
    border:2px solid black;
    text-align: center;
    vertical-align: middle;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
    text-align: center;
    vertical-align: middle;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
  background-color: indigo;
  text-align: center;
  opacity: .5;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: Blue;
}

table.table {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}